"=============================================
" Initialization
"=============================================
{% if nvim['plugins'] is defined %}

" Load plug
call plug#begin('~/.config/nvim/bundle')

{% for plugin in nvim['plugins'] %}
Plug '{{ plugin['name'] }}'{{ ", {{ {} }}".format(plugin['opts']) if 'opts' in plugin else ''}}
{% endfor %}

call plug#end()
{% endif %}

" Load plugins
filetype plugin indent on

"=============================================
" Options
"=============================================

" Color
set termguicolors
syntax on

" Search
set ignorecase
set smartcase

" Tab completion
set wildmode=list:longest,full
set wildignore=*.swp,*.o,*.so,*.exe,*.dll

" Scroll
set scrolloff=3

" Tab settings
set ts=2
set sw=2
set expandtab

" Hud
set ruler
set number
set nowrap
set fillchars=vert:\│
set colorcolumn=80

" Buffers
set hidden

" Backup Directories
set backupdir=~/.config/nvim/backups,.
set directory=~/.config/nvim/swaps,.
if exists('&undodir')
  set undodir=~/.config/nvim/undo,.
endif

"=============================================
" Remaps
"=============================================

let mapleader=','
let maplocalleader=','

" No arrow keys
map <Left>  :echo "ಠ_ಠ"<cr>
map <Right> :echo "ಠ_ಠ"<cr>
map <Up>    :echo "ಠ_ಠ"<cr>
map <Down>  :echo "ಠ_ಠ"<cr>

" Jump key
nnoremap ` '
nnoremap ' `

" Change pane
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Turn off search highlight
nnoremap <localleader>/ :nohlsearch<CR>

" Trim trailing whitespace
nnoremap <localleader>tw m`:%s/\s\+$//e<CR>``

"=============================================
" Other Settings
"=============================================
{% if 'config' in nvim %}
{% for setting in nvim['config'] %}
{% if 'config' in setting %}

" {{ setting['name'] }}
{{ setting['config'] }}
{% endif %}
{% endfor %}
{% endif %}

"=============================================
" Package Settings
"=============================================
{% if 'plugins' in nvim %}
{% for plugin in nvim['plugins'] %}
{% if 'config' in plugin %}
" {{ plugin['name'] }}
{{ plugin['config'] }}
{% endif %}
{% endfor %}
{% endif %}
